{% extends 'base.html.twig' %}

{% block title %}Crée une nouvelle categorie{% endblock %}

{% block body %}
    <h1 class="text-center">Crée une nouvelle categorie</h1>

    {{ include('back/category/_form.html.twig') }}

    <a type="button" class="btn btn-outline-primary d-grid gap-2 col-6 mx-auto" href="{{ path('back_category_index') }}">Revenir à la liste</a>
{% endblock %}
