{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier une commande</h1>

    {{ include('back/command/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a type="button" class="btn btn-outline-primary d-grid gap-2 col-6 mx-auto" href="{{ path('back_command_index') }}">Revenir à la liste</a></br>

    {{ include('back/command/_delete_form.html.twig') }}
{% endblock %}
