{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier un client</h1>

    {{ include('back/user/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a type="button" class="btn btn-outline-primary d-grid gap-2 col-6 mx-auto" href="{{ path('back_user_index') }}">Revenir à la liste</a>

    {{ include('back/user/_delete_form.html.twig') }}
{% endblock %}
