<form class="mb-3" id="back_delete_button"  method="post" action="{{ path('back_product_delete', {'id': product.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce produit?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="btn btn-outline-danger  d-grid gap-2 col-6 mx-auto">Supprimer</button><br/>
</form>


