{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1 class="text-center">Crée un nouvau produit</h1>

    {{ include('back/product/_form.html.twig') }}

    <a type="button" class="btn btn-outline-primary d-grid gap-2 col-6 mx-auto" href="{{ path('back_product_index') }}">Revenir à la liste</a><br/>
{% endblock %}
