<div style="background-color:#1E6C5B;text-align:center;">
    <img src="{{ email.image('@public/logo.png') }}" alt="Logo" style="height:250px;">
    <br />
    <span style="color: #ab7341;font-size: 35px; font-weight:bold;">Le potager des culs fouettés</span>
    <br />
    <div style="background-color: white; border-radius:30px;box-shadow: 10px 5px 10px #999999;width:50%;margin:auto;padding:20px;">
        <h1> Bonjour {{ customerName }}</h1>
        nous vous confirmons votre commande N° {{ NumFact }} sur notre site lepotagerdesculsfouettes.fr <br /> 
        <br />
        Pour rappel les prix indiqués lors de votre passage de commande sont à titre indicatif uniquement. En effet le montant total de la commande peut varier en fonction de la récolte.<br />
        <br />
        Les commandes sont à récupérer le mercredi {{ nextWednesday }} entre 17h et 19h à notre domicile au 18 lotissement du val de Vèze à Ougney. <br />
        <a href="https://goo.gl/maps/FUMrGGsWauPyNXNP6">Lien google map</a>
        <br />
        Pour plus d'informations vous pouvez nous contacter en réponse à cet email (contact@lepotagerdesculsfouettes.fr) <br />
        Merci et à bientôt ;-)
        <br />
        <br />
        Hélène et Jérôme
        <br />
        Le potager des culs fouettés
        <br />
    </div>
    <br />
    <br />
</div>