<h1> Bonjour {{ email.toName }}</h1>
nous confirmons votre commande N° {{ NumFact }} sur notre site lepotagerdesculsfouettes.fr <br /> 
<br />
Pour rappel les prix indiqués lors de votre passage de commande sont à titre indicatif uniquement. En effet le montant total de la commande peut varier en fonction de la récolte.<br />
<br />
Les commandes sont à récupérer le mercredi {{ nextWednesday }} entre 18h et 20h à notre domicile au 18 lotissement du val de Vèze à Ougney. <a href="https://goo.gl/maps/FUMrGGsWauPyNXNP6">Lien google map</a>
<br />
Pour plus d'informations vous pouvez nous contacter en réponse à cet email (contact@lepotagerdesculsfouettes.fr) <br />
Merci et à bientôt ;-)
<br />
<br />
Hélène et Jérôme
<br />
Le potager des culs fouettés

